*{
    margin:0;
    padding:0;
    text-align: center;
    background-color:#a8d9db;
    
}
h1{
    background-color:#2e868e;
    color:rgb(225, 207, 207);
    height:5rem;
    line-height: 5rem;
    border:1.5px solid white;
    border-radius:5px;
    
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top:5rem;
   
}
.choice:hover{
    
    cursor:pointer;
    background-color:#081b31 ;
}
.choice{
    height:200px;
    width:200px;

    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
img{
    height:180px;
    width:180px;
    object-fit: cover;
    border-radius:50%;

}
.score-board{
    display:flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:3rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.message-container{
    margin-top: 4rem;
}
#msg{
    
    background-color:#2e868e ;
    color:white;
    font-size: 2rem;
    display:inline;
    padding:1rem;
    border-radius:1rem;
    border:1.5px solid white;
}